[phases.install]
cmds = ["npm ci --include=optional"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build"
]

[phases.deploy]
cmds = ["npx prisma migrate deploy"]

[start]
cmd = "npm start"
